<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/themes/base/jquerybasecss")*@
    @*@Styles.Render("~/Content/themes/base/jquerytrontasticcss")*@
    <link href="/Content/themes/base/base.css" rel="stylesheet" />
    <link href="~/Content/themes/trontastic/jquery-ui.trontastic.css" rel="stylesheet" />
    @Styles.Render("~/Content/sagecss")
</head>
<body class="sage">
    <div class="navbar navbar-inverse navbar-fixed-top ui-widget-header" style="margin: 0 0 0 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="sagelogo" class="navbar-brand" onclick="location.href='/'">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav sage">
                    <li>@Html.ActionLink("About Me", "Index", "AboutMe")</li>
                    <li>@Html.ActionLink("Games", "Index", "Games")</li>
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Flora", "Index", "Flora")</li>
                    <li>@Html.ActionLink("Fauna", "Index", "Fauna")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>@Html.ActionLink("Other", "Index", "Other")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="sage" />
        <footer>
            <p class="h1 sage-paragraph">&copy; 2016 - A.J.W.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/sageui")
    @RenderSection("scripts", required: false)
</body>
</html>